<nav class="navbar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="/api/auth/signup">Register</a></li>
        <li><a href="#">LogOut</a></li>
    </ul>
</nav>