<aside class="contact-list-container">
    <div class="contact-container">
        <img class="avatar-photo" src="/imgs/avatar1.jpg" alt="Photo of avatar">
        <p>Jon Doe</p>
    </div>
    <div class="contact-container">
        <img class="avatar-photo" src="/imgs/avatar2.jpg" alt="Photo of avatar">
        <p>John Smith</p>
    </div>
    <div  class="contact-container">
        <img class="avatar-photo" src="/imgs/avatar3.jpg" alt="Photo of avatar">
        <p>Mary Jane</p>
    </div>
    <div class="contact-container">
        <img class="avatar-photo" src="/imgs/avatar4.jpg" alt="Photo of avatar">
        <p>Jon Doe</p>
    </div><div class="contact-container">
        <img class="avatar-photo" src="/imgs/avatar5.jpg" alt="Photo of avatar">
        <p>Jon Doe</p>
    </div><div class="contact-container">
        <img class="avatar-photo" src="/imgs/avatar6.jpg" alt="Photo of avatar">
        <p>Jon Doe</p>
    </div><div class="contact-container">
        <img class="avatar-photo" src="/imgs/avatar1.jpg" alt="Photo of avatar">
        <p>Jon Doe</p>
    </div><div class="contact-container">
        <img class="avatar-photo" src="/imgs/avatar1.jpg" alt="Photo of avatar">
        <p>Jon Doe</p>
    </div>
    
    

</aside>

<main class="main-chat">
    <h1>Jon Doe</h1>

    <div class="chat">

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, veritatis?</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta atque nobis velit corporis consequatur quam
        explicabo error similique cupiditate porro voluptatum quod, doloremque natus inventore officiis mollitia,
        recusandae reiciendis est placeat adipisci animi illo laboriosam. Maiores voluptatibus repellendus rerum hic
        placeat sed repellat dolore unde? Sint dicta eius corrupti molestias.</p>
    </div>

    <form class="chat-form" action="#">
        <input type="text">
        <button>Send</button>
    </form>

</main>