<div class="aside-login">

</div>
<div class="general-container">
  <form action="/api/auth/login" method="post">
    <h1>Login</h1>
    <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>"> -->
    <div class="form-control">
        <input type="text"  name="mail" required />
        <label>Email</label>
      </div>

      <div class="form-control">
        <input type="password"  name="password" required />
        <label>Password</label>
      </div>
      <button class="custom-btn btn-3"><span>Login</span></button>
</form>
</div>
<script src="/js/login.js"></script>