<form action="#" method="post">
   

    <label for="name">Name:</label>
    <input type="text" name="name" value=<%= user.name %> >

    <label for="username">Username:</label>
    <input type="text" name="username" value=<%= user.username %> >

    <label for="mail">Email:</label>
    <input type="mail" name="mail" value=<%= user.mail %> >

    <label for="birthday">Birthday:</label>
    <input type="date" name="birthday" value=<%= user.birthday %> >

    
</form>

<a href="/api/chats/2">Crear chat</a>