
<div class="aside-register">
    
</div>
<div class="general-container">
    <form class="form-info" action="/api/auth/signup" method="post">
        <h1>Registration</h1>

        <div class="form-control">
            <input type="text" name="name" required />
            <label>Name</label>
          </div>
          
          <div class="form-control">
            <input type="text" name="username" required />
            <label>Username</label>
          </div>

          <div class="form-control">
            <input type="text"  name="mail" required />
            <label>Email</label>
          </div>

          <div class="form-control">
            <input type="date" name="birthday" required />
           
          </div>
          <div class="form-control">
            <input type="text"  name="urlPicture"  />
            <label>URL Picture</label>
          </div>

          <div class="form-control">
            <input type="password"  name="password" required />
            <label>Password</label>
          </div>
          
        
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
    
        <button class="custom-btn btn-3"><span>Register</span></button>
    
    </form>
</div>

<script src="/js/login.js"></script>